<h1>Detalle de Orden</h1>

<div class="panel panel-default">
  <div class="panel-body">

  	<div class="col-xs-12 col-md-6 col-sm-6">
		<% if  notice %>
		<p class="alert alert-success">
			<%= notice %>
		</p>
		<% end %>
		<div class="row">
			<div class="col-xs-8 col-md-8 col-sm-8">
				<p>
				  <strong>Orden #:</strong>
				  <%= @order.id %>
				</p>

				<p>
				  <strong>Mesa:</strong>
				  <%= @order.table %>
				</p>

				<p>
				  <strong>Orden pagada:</strong>
				  <%if @order.pay %>
				  	Si
				  <% else %>
				  	No
				  <% end %>
				</p>

				<p>
					<b>Items</b>
					<ul>
						<% @order.order_items.each do |item| %>
							<li>
								<b><%= item.product.name %></b> x
								<b><%= item.quantity %></b>
								($<%= item.product.price * item.quantity %>)
							</li>
						<% end %>
					</ul>
				</p>

			</div>
		</div>
		<p>
			<%= link_to 'Regresar', orders_path, {:class=>"btn btn-danger"}%>
			<% if not @order.pay %>
				<%= link_to 'Editar', edit_order_path(@order), {:class=>"btn btn-success"}%>
			<% end %>
		</p>
  	</div>
  </div>
</div>
