<h1>
  <span><span class="fa fa-th-large"></span> Categorías </span>
  <%= link_to 'Nueva categoría', new_category_path, {:class=>"btn btn-success"} %>
</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th class="hidden-xs">Descripción</th>
          <th class="hidden-xs text-center">Disponible al público</th>
          <th class="text-center">Ver</th>
          <th class="text-center">Editar</th>
          <th class="text-center">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td class="text-center">
              <% if category.active %>
               Si
              <% else %>
                No
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to category do %>
                  <b class="text-primary"><span class="fa fa-eye"></span></b>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to edit_category_path(category) do %>
                  <b class="text-success"><span class="fa fa-edit"></span></b>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to category, method: :delete, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } do %>
                  <b class="text-danger"><span class="fa fa-trash"></span></b>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if @categories.count == 0 %>
          <tr>
            <td colspan="6">
              <p class="text-center alert alert-info">
                No has creado categorías. <b><%= link_to "Agregar una Categoría", new_category_path %></b>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
