<h1>Detalle de Categoría</h1>

<div class="panel panel-default">
  <div class="panel-body">

  	<div class="col-xs-6 col-md-6 col-sm-6">
		<% if  notice %>
		<p class="alert alert-success">
			<%= notice %>
		</p>
		<% end %>
		<p>
		  <strong>Nombre de la categoría:</strong>
		  <%= @category.name %>
		</p>

		<p>
		  <strong>Descripción:</strong>
		  <%= @category.description %>
		</p>

		<p>
		  <strong>Disponible al público:</strong>
		  <% if @category.active %>
		   	Si
		  <% else %>
		  	No
		  <% end %>

		</p>
		<p>
			<%= link_to 'Regresar', categories_path, {:class=>"btn btn-danger"}%>
			<%= link_to 'Editar', edit_category_path(@category), {:class=>"btn btn-success"}%>
		</p>
  	</div>
  </div>
</div>
