<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Por favor corrige los siguientes errores para continuar:
        <ul class="text-danger">
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <%= f.label :nombre %><br>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="fa fa-chevron-right"></span></span>
      <%= f.text_field :name, {:class=>"form-control", :placeholder=>"Nombre del producto"}%>
    </div>
  </div>

  <%= f.label :imagen %><br>
  <div class="form-group">
    <div class="input-group">
      <%= f.file_field :picture %>
    </div>
  </div>

  <%= f.label :cantidad_disponible %><br>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="fa fa-chevron-right"></span></span>
      <%= f.number_field :quantity, {:class=>"form-control", :placeholder=>"Cantidad del producto"}%>
    </div>
  </div>

  <%= f.label :precio %><br>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="fa fa-chevron-right"></span></span>
      <%= f.text_field :price, {:class=>"form-control", :placeholder=>"Precio del producto"}%>
    </div>
  </div>

  <%= f.label :descripción %><br>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="fa fa-chevron-right"></span></span>
      <%= f.text_area :description, {:class=>"form-control", :placeholder=>"Precio del producto"}%>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
        <label>
          <%= f.check_box :manufactured %>
          Manufacturado
        </label>
    </div>
  </div>

  <%= f.label :categoría %><br>
  <div class="form-group">
    <div class="input-group">
      <%= f.select :category_id, options_for_select(Category.all.collect {|cat| [cat.name, cat.id]})%>
    </div>
  </div>

  <p>
    <%= link_to "Regresar", products_path, {:class=>"btn btn-danger"}%>
    <button class="btn btn-success">
      <% if @editing %>
        Guardar cambios
      <% else %>
        Crear
      <% end %>
    </button>
  </p>

<% end %>
