<h1>Detalle de venta</h1>

<div class="panel panel-default">
  <div class="panel-body">

  	<div class="col-xs-12 col-md-6 col-sm-6">
		<% if  notice %>
			<p class="alert alert-success">
				<%= notice %>
			</p>
		<% end %>
		
		<table class="table table-bordered">
			<tr>
				<td>
					<b>Factura #</b> <%= @sell.id %>
				</td>
				<td>
					<b>Mesa: </b> <%= @sell.table %>
				</td>
				<td colspan="2">
					<b>Fecha: </b> <%= @sell.created_at %>
				</td>
			</tr>
			<tr class="text-center">
				<td colspan="4"><b>Detalle</b></td>
			</tr>

			<tr class="text-center">
				<td><b>Producto</b></td>
				<td><b>Precio</b></td>
				<td><b>Cantidad</b></td>
				<td><b>Subtotal</b></td>
			</tr>

			<% @sell.order.order_items.each do |item|%>
				<tr class="text-center">
					<td><%= item.product.name %></td>
					<td>$<%= item.product.price %></td>
					<td><%= item.quantity %></td>
					<td>$<%= item.product.price * item.quantity %></td>
				</tr>
			<% end %>

			<tfoot>
				<tr>
					<td colspan="3" class="text-right">
						<strong>Subtotal:</strong>
					</td>
					<td class="text-center">
			  			$<%= @sell.subtotal %>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="text-right">
						<strong>Total:</strong>
					</td>
					<td class="text-center">
			  			$<%= @sell.total %>
					</td>
				</tr>
			</tfoot>
		</table>

		<p>
			<%= link_to 'Regresar', sells_path, {:class=>"btn btn-danger"}%>
		</p>
  	</div>
  </div>
</div>